@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.subscribe {
  @include layout-constrain;
  @include border-radius;
  width: 100%;
  margin: 4rem 1.6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $space-large;
  padding: $space-x-small;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);

  @include tablet {
    padding: 6rem;
  }

  &-form {
    display: flex;
    flex-direction: column;
    gap: $space-x-small;

    @include tablet {
      flex-direction: row;
      gap: $space-large;
    }
  }

  &-heading {
    font-size: 2.4rem;
  }

  &-input {
    @include border-radius;
    border: 1px solid #ddd;
    padding: 0 $space-large;
    font-family: Montserrat;
  }
}

.success-message {
  color: green;
  font-size: 1rem;
}

.error-message {
  color: red;
  font-size: 1rem;
}
