@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.banner-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-card {
  position: relative;
  width: 100%;
  height: 100%;

  &__wrp {
    object-fit: cover;
    width: 123.4rem;
    height: 30rem;
  }
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
}

.slider-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dot {
  background: rgba(255, 255, 255, 0.5);
  width: 100px;
  height: 8px;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

.dot.active {
  background: white;
}
