.heading {
  padding: 0 2rem;
  font-size: 2.2rem;
}

.card {
  background-color: white;
  margin: 2rem;
  padding: 2rem;
  width: 65rem;
  min-height: 35rem;
  border-radius: 0.8rem;
  height: 30rem;
}
.card h2 {
  font-weight: 400;
}
.bookings-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.bookings-list__item {
  font-size: 1.2rem;
}
.no-bookings-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2rem;
}
