@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.field {
  display: flex;
  flex-direction: column;
  font-family: Montserrat;

  &__label {
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
  }

  &__input {
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    @include border-radius;
    padding: 1.6rem 2.4rem;
    font-size: 1.4rem;
  }
}
