@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.map {
  &-heading {
    @include layout-constrain;
    text-align: left;
    margin: 3.2rem 0;

    &__title {
      font-size: 3.2rem;
      margin-bottom: 1.6rem;
    }
    &__subtitle {
      font-size: 1.8rem;
    }
  }

  &-img {
    width: 100%;
    @include layout-constrain;
    height: 40rem;
  }
}
