@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.featured-wrp {
  max-width: $max-width;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: $space-large;
  background-color: #1e556d16;
  @include border-radius;
}
.featured {
  @include layout-constrain;
  width: 100%;
  padding: $space-large;
  display: flex;
  gap: $space-large;

  &-content {
    flex: 1;
  }
  &-title {
    font-size: 3.2rem;
  }
  &-description {
    margin: 2.4rem 0;
  }
  &-text {
    width: 50%;
    font-size: 1.4rem;
  }
}
