.weather {
  text-align: center;
  background: #f7f7f7;
  padding: 1rem;
  border-radius: 10px;
  max-width: 300px;
  margin: auto;
  &-current {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    margin-bottom: 1rem;
  }
}

.forecast {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}

.day {
  margin-bottom: 1rem;

  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
