@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.why-us {
  &-card {
    width: 100%;
    display: flex;
    gap: 1.6rem;

    @include tablet {
      width: calc((100% - $space-large) / 2);
    }
  }
  &-icon {
    width: 4rem;
    height: 4rem;
  }
  &-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
