@font-face {
  font-family: "MonaSans";
  src: url("../../assets/fonts/MonaSans/MonaSans-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "MonaSans";
  src: url("../../assets/fonts/MonaSans/MonaSans-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "MonaSans";
  src: url("../../assets/fonts/MonaSans/MonaSans-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "MonaSans";
  src: url("../../assets/fonts/MonaSans/MonaSans-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "MonaSans";
  src: url("../../assets/fonts/MonaSans/MonaSans-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "MonaSans";
  src: url("../../assets/fonts/MonaSans/MonaSans-Black.woff2") format("woff2");
  font-weight: 900;
}

// SCREEN BREAKPOINTS (Mobile First):
$tablet: 768px;
$desktop: 1280px;

// COLORS:
// Primary colors:
$main-maroon: #9d120d;
$main-teal: #1e556d;
