// SCREEN BREAKPOINTS (Mobile First):
$tablet: 768px;
$desktop: 1280px;

// COLORS:
// Primary colors:
$main-1: #ffffff;
$main-2: #eef2f4;

$accent-1: rgba(30, 85, 108, 0.3);
$accent-2: rgba(156, 17, 13, 0.3);

// Secondary colors:
$success: #378712;

$accent--req-action: #ffb085;
$accent--confirmed: #a3d3a3;
$accent--progress: #ffeb99;
$accent--completed: #b0b0b0;
