.nav {
  font-size: 1rem;
}
.nav-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-size: 1rem;
}
.nav-link {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.nav-icon {
  width: 1.4rem;
  height: 1.4rem;
}
