@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main-nav {
  padding: 1.6rem 3rem;
  width: 22rem;
  border-right: 1px solid #eee;
}

.logo {
  font-size: 2.6rem;
  padding-bottom: 2rem;
  font-weight: 700;
}

.nav {
  color: #3d3d4e;
  font-size: 1.3rem;

  &-list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    font-size: 1.4rem;
  }

  &-item {
  }

  &-link {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &-icon {
    width: 2rem;
    height: 2rem;
  }
}
