@use "./variables" as *;
@use "./typography" as *;
@use "./mixins" as *;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
img,
video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  // background-color: $off-white;
  background-color: #fff;
  color: $charcoal;
  &::-webkit-scrollbar {
    display: none;
  }
}

.tours {
  &-heading {
    font-size: 3rem;
    line-height: 3.6rem;
    color: $main-maroon;

    @include tablet {
      font-size: 5.4rem;
    }

    &-wrp {
      display: flex;
      flex-direction: column;
      gap: $space-medium;
    }
  }
  &-description {
    font-size: 1.4rem;
    line-height: 2.2rem;
    max-width: 80rem;
  }
  &-type {
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}

.container-centered {
  @include layout-constrain;
  margin: 0 auto;
}

.overlay--category {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-end;
  padding: $space-small;
  align-items: flex-end;
  padding-bottom: 3rem;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 70%
  );
}
