@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/static/Roboto/Roboto-Regular.ttf")
    format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/static/Roboto/Roboto-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/static/Roboto/Roboto-Bold.ttf")
    format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/static/Montserrat/Montserrat-Regular.ttf")
    format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/static/Montserrat/Montserrat-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/static/Montserrat/Montserrat-Bold.ttf")
    format("truetype");
  font-weight: 700;
}
