// SCREEN BREAKPOINTS (Mobile First):
$mobile-s: 365px;
$mobile-m: 480px;
$tablet: 768px;
$desktop-s: 1025px;
$desktop: 1281px;
$desktop-xl: 1441px;

// COLORS:
// Primary colors:
$main-white: #fff;
$main-maroon: #9c110d;
$main-teal: #1e556d;

$accent-1: #c2410c;
$accent-2: #f4a261;
$accent-3: #ff6f61;
$accent-4: #f5c518;
$accent-5: #516140;

$accent-4--hover: #e0a10b;

$supportive-1: #fef6e4;
$supportive-2: #e0f1f3;
$supportive-3: #8a9a5b9b;
$supportive-4: #c4d9e0;

$charcoal: #2c2c2c;
// $warm-gray: #e0e0e0;
// $warm-gray: #f8f6f4;
$warm-gray: #f4f2ef;
$off-white: #f9f9f9;

// Secondary colors:
$success: #378712;

$guided: #5b35a952;
$culinary: #f16a2852;
$experiences: #fc3a4f52;

//PADDINGS:
$space-large: 5rem;
$space-medium: 3.2rem;
$space-small: 2.2rem;
$space-x-small: 1.6rem;

$max-width: 123.4rem;
$border-radius-main: 3rem;
$border-radius: 1.6rem;
