// SCREEN BREAKPOINTS (Mobile First):
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// COLORS:
// Primary colors:
$main-maroon: #9d120d;
$main-teal: #1e556d;

// Secondary colors:
$success: #378712;

$guided: #5b35a952;
$culinary: #f16a2852;
$experiences: #fc3a4f52;

//PADDINGS:
$space-large: 5rem;
$space-medium: 3.2rem;

$max-width: 123.4rem;
$border-radius-main: 3rem;
