.team-members {
  border: 1px solid #ccc;
  border-radius: 2rem;
  padding: 1.6rem;
  width: 40rem;
  margin-left: 1.6rem;
}
.team-member__heading {
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
}
.team-member__list {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.team-member__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.team-member__avatar {
  overflow: hidden;
  width: 3rem !important;
  height: 3rem !important;
  border-radius: 50%;
  flex: unset !important;
  margin-right: 1.6rem;
}

.team-member__detail {
  flex: 1;
}
