@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.reservations {
  width: 100%;
  background-color: rgba(0, 255, 255, 0.377);
  @include border-radius;
}

.dashboard {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: $main-teal;
  gap: 6rem;
  margin-top: 6rem;
  width: 100%;
  max-width: $max-width;

  &--not-logged {
    align-items: center;
    margin-bottom: $space-large;
  }

  &__title {
    margin: 0 0 1rem;
    padding: 0 0 0.5rem;
    font-size: 3.2rem;
  }

  &__logout {
    margin-top: 2rem;
  }
}

.login-dashboard {
  display: flex;
  flex-direction: column;
  gap: $space-large;
  margin-top: $space-large;
}
.bookings {
  &-tour-title {
    font-size: 1.6rem;
    font-weight: 600;
    color: black;
  }
  &-details {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    flex: 4;
  }
  &-heading {
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
    color: black;
  }
  &-list {
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
  }
  &-list-item {
    display: flex;
    gap: $space-large;
  }
}
.booking-card-img {
  width: 30rem;
  height: 17rem;
  flex: 3;

  @include border-radius;
  overflow: hidden;
}
.booking-price,
.booking-date,
.booking-people {
  font-size: 1.4rem;
  color: black;
}
.booking-message {
  font-size: 1.6rem;
  color: black;
}

.btn--get-prepared {
  width: 100%;
  background-color: $supportive-3;
}

.booking-actions {
  flex: 2;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: $space-large;
}

.booking-status {
  width: fit-content;
  border: 1px solid #faca15;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1.6rem;
  font-size: 1.4rem;
  color: #92400e;
  background-color: #fffbeb;
  border-radius: $border-radius;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0.1rem 0.2rem rgba(0, 0, 0, 0.05);
}

.booking-status__dot {
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.8rem;
  background-color: #92400e;
  border-radius: 50%;
}
