@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;

  &__heading {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 0 3rem;
  }
}

.user {
  &-nav {
    &-list {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 2rem;
      padding: 2rem;
      font-size: 1.4rem;
    }

    &-link {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  &-img {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
  }
}
