*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
img,
video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "MonaSans";
}
body::-webkit-scrollbar {
  display: none;
}
.label {
  font-size: 1.35rem;
  font-weight: 600;
}

/* 

$main-maroon: #9d120d;
$main-teal: #1e556d; */
