@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  border: none;
  @include border-radius;
  transition: 0.2s ease;
  cursor: pointer;
  font-size: 1.4rem;
  font-family: Montserrat;
  padding: 0 3.2rem;
  width: fit-content;
  font-weight: 600;

  &__icon--subscribe {
    width: 4.2rem;
    height: 4.2rem;
    transform: rotate(-30deg) translate(10%, -5%);
    display: inline;
    @include tablet {
      display: none;
    }
  }

  &__text--subscribe {
    display: none;

    @include tablet {
      display: block;
    }
  }

  &--manage-bookings {
    background-color: white;
    border: 1px solid #dddddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    gap: 0.5rem;

    @include tablet {
      flex-shrink: 0;
      padding: 0 1rem;
    }

    &:hover {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    }
  }

  &--category {
    background-color: transparent;
    color: white;
    z-index: 9;
    font-size: 2.2rem;

    @include tablet {
      font-size: 3.2rem;
      letter-spacing: 1px;
    }
  }
  &--login,
  &--signup {
    background-color: $main-teal;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    color: white;
    width: 100%;
  }
  &--view-details {
    background-color: white;
    gap: 0.8rem;

    & img {
      width: 1.6rem;
      height: 1.6rem;
    }
  }
  &--icon {
    width: 3.2rem !important;
    height: 3.2rem !important;
    position: absolute;
    top: 0.4rem;
    right: -1rem;
  }
  &--cta {
    @include tablet {
      min-width: 15.5rem;
      max-width: 23rem;
      flex-shrink: 0;
      padding: 0 3.2rem;
      background-color: white;
      border: 1px solid #dddddd;
      color: black;
      font-weight: 600;
      font-size: 1.6rem;
    }
  }

  &--contact {
    background-color: white;
    border: 1px solid #dddddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  }

  &--subscribe {
    // background-color: white;
    color: $main-white;
    background-color: $accent-1;
    border: 1px solid #dddddd;
    font-size: 1.6rem;
    border-radius: 50%;
    padding: 0.8rem;
    width: 6rem;
    height: 6rem;

    @include tablet {
      width: fit-content;
      padding: 0 3.2rem;
      @include border-radius;
    }
  }

  &--book {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    width: 100%;
    background-color: $main-maroon;
    color: #fff;
  }

  &--logout {
    background-color: #fff;
    color: black;
    height: unset;
    display: flex;
    gap: 0.8rem;
    padding: 0;
    font-weight: 400;

    &-icon {
      height: 1.6rem;
      height: 1.6rem;
    }
  }

  &--reset-filter {
    background-color: $main-maroon;
    color: #fff;
  }

  &--remove-booking {
    align-self: flex-end;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
  }

  &--error {
    border: 2px solid $main-teal;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    color: $main-teal;
    // width: 100%;
  }
}
