@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  border: none;
  @include border-radius;
  transition: 0.2s ease;
  cursor: pointer;
  font-size: 1.4rem;
  font-family: Montserrat;
  padding: 0 3.2rem;
  width: fit-content;
  font-weight: 600;

  &--manage-bookings {
    background-color: white;
    border: 1px solid #dddddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    gap: 0.5rem;

    @include tablet-breakpoint {
      flex-shrink: 0;
      padding: 0 1rem;
    }

    &:hover {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    }
  }

  &--category {
    background-color: transparent;
    color: white;
    z-index: 9;
    font-size: 3.2rem;
    letter-spacing: 1px;
  }
  &--login,
  &--signup {
    background-color: $main-teal;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    color: white;
    width: 100%;
  }
  &--view-details {
    background-color: white;
    gap: 0.8rem;

    & img {
      width: 1.6rem;
      height: 1.6rem;
    }
  }
  &--icon {
    width: 3.2rem !important;
    height: 3.2rem !important;
    position: absolute;
    top: 0.4rem;
    right: -1rem;
  }
  &--cta {
    @include tablet-breakpoint {
      min-width: 15.5rem;
      max-width: 23rem;
      flex-shrink: 0;
      padding: 0 3.2rem;
      background-color: white;
      border: 1px solid #dddddd;
      color: black;
      font-weight: 600;
      font-size: 1.6rem;
    }
  }

  &--subscribe,
  &--contact {
    background-color: white;
    border: 1px solid #dddddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  }

  &--book {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    width: 100%;
    background-color: $main-maroon;
    color: #fff;
  }

  &--logout {
    background-color: #fff;
    color: black;
    height: unset;
    display: flex;
    gap: 0.8rem;
    padding: 0;
    font-weight: 400;

    &-icon {
      height: 1.6rem;
      height: 1.6rem;
    }
  }

  &--reset-filter {
    background-color: $main-teal;
    color: #fff;
  }

  &--remove-booking {
    align-self: flex-end;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
  }
}
