@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.signup-name-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}
