.image-slider {
  position: relative;
  width: 100%;
  max-width: 1200px;
  min-height: 40rem;
  max-height: 67.5rem;
  object-fit: cover;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slider-image {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
  transition: background 0.3s ease;
}

.slider-button img {
  width: 24px;
}

.slider-button:hover {
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.images-count {
  font-size: 1.4rem;
  color: white;
  min-width: 3rem;
  display: block;
  text-align: center;
}
