@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.map {
  margin-top: $space-large;
  height: 44rem;
  width: 100%;
  @include border-radius;
  @include layout-constrain;
  overflow: hidden;
  transition: height 0.3s ease;

  &-tour {
    height: 30rem;
  }
}
