@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.map {
  height: 30rem;
  width: 100%;
  @include border-radius;
  overflow: hidden;
  transition: height 0.3s ease;

  @include tablet {
    height: 44rem;
  }

  @include desktop {
    height: 56rem;
  }

  &-tour {
    height: 30rem;
  }

  &-wrp {
    width: 100%;
    background-color: $warm-gray;
    padding: 0 1.6rem 2.4rem;

    @include tablet {
      padding: 0 2.4rem 4rem;
    }

    @include desktop {
      padding: 0 0 4rem;
    }
  }
}

.leaflet-pane,
.leaflet-top,
.leaflet-bottom {
  z-index: 0;
}

.leaflet-popup-content {
  font-size: 1.4rem;
  font-weight: 600;
  color: #333;
  line-height: 1.5;

  p {
    font-weight: 400;
    margin-top: 0.4rem;
  }
}
