.t-bookings__status--requires-action {
  color: #5a4a3d;
}
.t-bookings__status--confirmed {
  color: #3d5a3d;
}
.t-bookings__status--in-progress {
  color: #5a573d;
}
.t-bookings__status--completed {
  color: #3d3d3d;
}
