.not-found-page {
  width: 100%;
}

.error-wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error-msg {
  font-size: 2.4rem;
  font-weight: 400;
}

.iconError-wrp {
  width: 55rem;
  height: 55rem;
}
