.booking-status {
  width: fit-content;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1.6rem;
  font-size: 1.4rem;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0.1rem 0.2rem rgba(0, 0, 0, 0.05);
}

.booking-status__dot {
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.8rem;
  border-radius: 50%;
}

.booking-status--pending {
  color: #92400e;
  background-color: #fffbeb;
  border-color: #faca15;
}

.booking-status--pending .booking-status__dot {
  background-color: #92400e;
}

.booking-status--confirmed {
  color: #03543f;
  background-color: #f3faf7;
  border-color: #84e1bc;
}

.booking-status--confirmed .booking-status__dot {
  background-color: #03543f;
}

.booking-status--denied {
  color: #9b1c1c;
  background-color: #fdf2f2;
  border-color: #f8b4b4;
}

.booking-status--denied .booking-status__dot {
  background-color: #9b1c1c;
}
