@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.tours {
  margin-top: 6rem;
  @include layout-constrain;

  &-wrp {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 4.5rem;
  }
  &-filter {
    flex: 1;
    display: flex;
    justify-content: space-between;

    &-wrp {
      display: flex;
      flex-direction: column;
      width: 100%;
      font-size: 1.6rem;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      @include border-radius;

      @include tablet {
        flex-direction: row;
      }
    }
    &-l {
      flex: 4;
      display: flex;
      width: 100%;
      flex-direction: column;

      @include tablet {
        flex: 4;
        display: flex;
        width: 100%;
        flex-direction: row;
      }
    }
    &-r {
      flex: 1;
      width: 100%;
    }
    &__select {
      font-family: Montserrat;
      border: none;
      font-size: 1.6rem;
      color: #333;
      background-color: #fff;
      appearance: none;

      &-wrp {
        flex: 1;
        border-right: 1px solid #ecedeb;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
    }

    &__search {
      font-weight: 400;
      font-size: 1.6rem;
      width: fit-content;

      &-input {
        border-radius: 3rem;
        border: none;
      }
    }

    &-selections {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &-list {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: $space-large;
  }
  &-list__filtered,
  &-list__remaining {
    display: flex;
    flex-wrap: wrap;
    gap: $space-large;
  }
  &-list__filtered {
    border-bottom: 1px solid #eee;
    padding-bottom: $space-large;
    margin-top: $space-medium;

    &-heading {
      font-size: 1.8rem;
      font-weight: 400;
      padding: 1.6rem;
    }
  }

  &-pagination {
    display: flex;
    gap: $space-medium;
    font-size: 1.4rem;
    font-weight: 600;
    justify-content: center;
    align-items: center;
  }
  &-prev {
  }

  &-next {
  }
  &-prev,
  &-next {
    cursor: pointer;
    background-color: $main-maroon;
    border: none;
    color: white;
    padding: 0.8rem 1.6rem;
  }
}

.tours-filter__search-input {
  padding-left: 3.8rem;
  width: 100%;
  border: none;
  height: 100%;
  font-family: Montserrat;
  font-size: 1.6rem;
  color: black;
  position: relative;
  & ::placeholder {
    color: black;
  }
}

.search {
  &-wrp {
    position: relative;
    border: none;
  }

  &-icon {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 0.8rem;
    top: 50%;
    transform: translateY(-45%);
  }
}

.tours-filter__pills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}

.tours-filter__pill {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: $main-teal;
  color: white;
  border-radius: 20px;
  padding: 0.4rem 1.6rem;
  font-size: 1.4rem;

  &__close {
    margin-left: 0.5rem;
    font-size: 3.2rem;
    line-height: 3.2rem;
    cursor: pointer;
  }
}

.tours-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  button {
    margin: 0 5px;
    padding: 1.2rem 2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #e9eef0;
    transition: background-color 0.3s ease;

    &.active {
      background-color: $main-teal;
      color: white;
    }

    &:hover:not(:disabled) {
      background-color: #bcccd3;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: #e4e0e0;
    }
  }
  & .tours-prev,
  & .tours-next {
    padding: 0;
  }

  & .pagination-controls {
    width: 3.2rem;
    height: 3.2rem;
  }
}

.tours-cards-skeleton {
  display: flex;
  flex-wrap: wrap;
  gap: $space-large;
  justify-content: center;
}
