@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
.tabs {
  display: flex;
  gap: $space-large;

  &-menu,
  .tab-content {
    background-color: #fff;
    padding: $space-small;
    font-size: 1.6rem;
    border-radius: $border-radius;
  }

  &-menu {
    display: flex;
    flex-direction: column;
    gap: $space-medium;
    align-items: flex-start;
    &__item {
      display: flex;
      gap: $space-x-small;
      align-self: flex-start;
      cursor: pointer;
    }
    &__title {
      align-self: center;
    }
  }

  &-col--1 {
    flex: 1;
  }
  &-col--2 {
    flex: 3;
  }
}
