@font-face {
  font-family: "MonaSans";
  src: url("../assets/fonts/MonaSans/MonaSans-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "MonaSans";
  src: url("../assets/fonts/MonaSans/MonaSans-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "MonaSans";
  src: url("../assets/fonts/MonaSans/MonaSans-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "MonaSans";
  src: url("../assets/fonts/MonaSans/MonaSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "MonaSans";
  src: url("../assets/fonts/MonaSans/MonaSans-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "MonaSans";
  src: url("../assets/fonts/MonaSans/MonaSans-Black.woff2") format("woff2");
  font-weight: 900;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../assets/fonts/helvetica-neue-5/HelveticaNeueMedium.otf")
    format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../assets/fonts/helvetica-neue-5/HelveticaNeueLight.otf")
    format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../assets/fonts/helvetica-neue-5/HelveticaNeueBold.otf")
    format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../assets/fonts/helvetica-neue-5/HelveticaNeueRoman.otf")
    format("woff2");
  font-weight: 400;
}
