@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.account {
  width: 100%;
  @include layout-constrain;
  margin-top: $space-medium;
  margin-bottom: $space-large;

  @include tablet {
    margin-top: $space-large;
  }

  &-heading {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: $space-medium;

    @include tablet {
      font-size: 2.8rem;
    }

    @include desktop-s {
      font-size: 3.2rem;
    }
  }

  &-cols {
    width: 100%;
  }
}
