@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-self: center;
  @include layout-constrain;
  padding: 2.4rem 0 0;
  position: relative;

  &::after {
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;
    background-color: #2222221f;
    bottom: -3rem;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  &__list {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: $space-medium;
    list-style: none;
    font-size: 1.5rem;
    letter-spacing: 0.5px;

    &--menu {
      font-size: 1.4rem;
      gap: $space-x-small;
      letter-spacing: normal;
    }
    &--categories {
      & li {
        background-color: $main-teal;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        color: #fff;
        font-weight: 600;
      }
    }
  }
  &__icon {
    width: 2.4rem;
    height: 2.4rem;
  }
  &__item-link {
    font-family: "Montserrat";

    &--phone {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      color: $main-maroon;
      font-weight: 600;
    }
    &-curr {
      display: flex;
      align-items: center;
    }
    &--cart {
      position: relative;
    }
  }

  &-hamburger {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 1.6rem;
  }
}

.logo {
  width: 18rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  &-img {
    height: 100%;
    margin-top: 1.2rem;
  }
  &-icon {
    width: 7rem;
  }
}

.user {
  &-avatar {
    border-radius: 50%;
    width: $space-medium;
    height: $space-medium;
    overflow: hidden;
    border: 1px solid #dddddd;
  }
}
.bookings-notification {
  background-color: darkred;
  color: white;
  border-radius: 50%;
  height: 0.8rem;
  width: 0.8rem;

  &-wrp {
    display: flex;
    gap: 0.8rem;
    align-items: flex-start;
  }
}
.dropdown {
  &-wrapper {
    position: relative;
  }

  &-menu {
    @include border-radius;
    padding: 1.4rem 0;
    width: 20rem;
    display: none;
    position: absolute;
    top: 110%;
    left: -60%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    z-index: 1000;
  }
  &--visible {
    display: block;
  }
  &--hidden {
    display: none;
  }

  &-item {
    padding: 1.6rem 2.4rem;
    cursor: pointer;

    &:hover {
      background-color: #f7f7f7;
    }
  }
}
.cart-notification {
  background-color: darkred;
  color: white;
  font-size: 1.1rem;
  line-height: 1.6rem;
  padding: 0 0.5rem;
  height: 1.6rem;
  position: absolute;
  top: -1rem;
  right: -1rem;
  text-align: center;
  border-radius: 50%;
}
