.header {
  display: flex;
  justify-content: space-between;
}

.nav {
  &__list {
    display: flex;
    list-style: none;
    font-size: 1.4rem;
  }

  &__item-link {
    font-family: "Roboto";
  }
}
