@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.cart {
  margin-top: $space-large;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $space-medium;
  max-width: $max-width;

  &__heading {
    font-size: 2rem;
    font-weight: 400;
  }
  &__review {
    display: flex;
    justify-content: space-between;
    gap: 9rem;
  }

  &-heading {
    font-size: 3.2rem;
    z-index: 5;
  }

  &-list {
  }
}

.booking-summary {
  flex: 2;
}
