@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.success-message {
  color: green;
  font-weight: bold;
  margin-top: 1rem;
}
.checkout-form {
  display: flex;
  flex-direction: column;
  gap: $space-medium;
}

.test-card-note {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: $space-x-small;
}

.disclaimer-alert {
  font-size: 1.6rem;
  background: #ff5a5f;
  // color: white;
  border-radius: $border-radius;
  padding: $space-x-small;

  &__heading {
    font-size: 2rem;
  }

  &_desc {
  }
}
