@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.login-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 3.2rem;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  width: 40rem;
  margin-bottom: 1rem;

  &-wrp {
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: $border-radius;
    padding: 2.4rem $space-large;
  }

  &-or {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    gap: $space-x-small;
    margin: $space-small 0;
    &::before,
    &::after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 1px;
      background-color: #ccc;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 1.5rem;

    text-align: center;
    font-size: 3.2rem;
    padding-bottom: 0.5rem;
    align-self: center;
  }

  &__message {
    border-left: 5px solid #f19e39;
    padding: 0.8rem;
    margin-top: 2rem;
    font-size: 1.2rem;
  }
}

.signup {
  &-cta {
    margin: $space-medium 0;
    font-size: 1.6rem;
  }
  &-link {
    text-decoration: underline;
    font-size: 1.8rem;
  }
}
