@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.login-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  margin-top: 3.2rem;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  @include border-radius;
  gap: 1.4rem;
  width: 40rem;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 2.4rem $space-large;
  margin-bottom: 1rem;

  &__title {
    margin-top: 0;
    margin-bottom: 1.5rem;

    text-align: center;
    font-size: 3.2rem;
    padding-bottom: 0.5rem;
    align-self: center;
  }

  &__message {
    border-left: 5px solid #f19e39;
    padding: 0.8rem;
    margin-top: 2rem;
    font-size: 1.2rem;
  }
}

.signup {
  &-cta {
    margin-top: 1.2rem;

    font-size: 1.4rem;
  }
  &-link {
    text-decoration: underline;
  }
}
