.select-input {
  min-width: 10rem;
  position: relative;
}
.select-input::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1.2rem;
  transform: translateY(-50%);
  width: 0.6rem;
  height: 0.6rem;
  border: solid #334155;
  border-width: 0 0.15rem 0.15rem 0;
  transform: translateY(-50%) rotate(45deg);
  pointer-events: none;
}

.select-input select {
  width: 100%;
  background-color: transparent;
  color: #334155;
  font-size: 1.4rem;
  line-height: 2rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.6rem;
  padding: 0.8rem 1.2rem;
  transition: all 0.3s ease;
  cursor: pointer;
  appearance: none;
}
.select-input select:hover {
  border: 1px solid #cbd5e1;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.select-input select:focus {
  outline: none;
  border: 1px solid #94a3b8;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.select-input select::placeholder {
  color: #94a3b8;
}
