@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero {
  @include layout-constrain;
  margin-top: 2.4rem;
  margin-bottom: $space-large;

  @include tablet {
    margin-top: 5rem;
  }

  &-heading {
    font-size: 3rem;
    line-height: 1.4;
    font-weight: 700;
    color: $main-maroon;
    text-align: left;

    @include mobile-s {
      text-align: center;
      font-size: 3.6rem;
    }

    @include tablet {
      text-align: left;
      font-weight: 600;
      line-height: 1.2;
    }
    @include desktop {
      font-size: 5.4rem;
    }
  }
  &-subheading {
    font-size: 1.6rem;
    padding: 0;
    font-weight: 600;
    text-align: center;
    color: $charcoal;

    @include tablet {
      font-size: 2rem;
      padding: 2rem 2rem 0 0;
      text-align: center;
      text-transform: uppercase;
      line-height: 1.5;
    }
  }
  &-wrp {
    margin-top: 2.4rem;

    display: flex;
    flex-direction: column;
    gap: $space-large;
  }
  &-intro {
    display: flex;
    justify-content: space-between;
    gap: $space-x-small;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      gap: $space-medium;
    }

    @include desktop {
      gap: $space-large;
    }
  }
  &-video {
    overflow: hidden;
    flex: 1;
    height: 55rem;
    @include border-radius;
    display: flex;
    align-items: center;

    @include desktop-xl {
      flex-basis: calc($max-width / 3 * 2 + $space-large);
    }

    & video {
      height: 127%;
      width: 127%;
      transform: scale(1.25);

      @include tablet {
        transform: scale(1);
      }
    }
  }
  &-content {
    flex-basis: calc(100% / 3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $space-x-small;

    @include tablet {
      gap: 0;
    }

    @include desktop-xl {
      flex-basis: calc($max-width / 3);
    }
  }
  &-slogan {
    background-color: $main-teal;
    height: 26rem;
    @include border-radius;
    padding: $space-x-small;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;

    @include tablet {
      height: 39rem;
      padding: $space-large;
    }

    &:hover {
      box-shadow: 0px 2px 10px rgb(0, 0, 0, 0.28);
    }

    &-wrp {
      height: 70%;
    }
    & img {
      object-fit: cover;
    }
  }
  &-categories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $space-large;

    @include tablet {
      flex-direction: row;
    }
  }
  &-category {
    width: 100%;
    height: 20rem;
    @include border-radius;
    overflow: hidden;
    object-fit: cover;
    position: relative;

    @include tablet {
      flex: 1;
      height: 32rem;
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0px 2px 10px rgb(0, 0, 0, 0.28);
      transition: all 0.3s ease;
    }

    &-img {
      cursor: pointer;
      overflow: hidden;
      flex: 2;
      & img {
        filter: opacity(90%);
      }
    }

    &-cta {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}

.overlay--category {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 3rem;

  // &-guided {
  //   background-color: rgba(59, 34, 108, 0.9);
  // }
  // &-culinary {
  //   background-color: rgba(154, 69, 2, 0.9);
  // }
  // &-experiences {
  //   background-color: rgba(162, 37, 50, 0.9);
  // }

  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 70%
  );
}
